// ------------------------------------------------------------
// TABLES
// ------------------------------------------------------------

.table {
  display: table;
}

.tc {
  display: table-cell;
  vertical-align: middle;
}
